@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
.menu{
  list-style-type: none;
  display: inline-flex;
}
.header{
  background-image:url(../images/imagenCataratas.jpg);
  padding-top: 8rem;
}
h1{
  font-family: 'The Nautigal', cursive;
  font-size: 4rem;
}
h2{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  color:brown;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count:initial;
    animation-direction: alternate;
}
.cuerpo{
  background-image: url(../images/fondoTres.webp);
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
ul li a{
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
footer{
  margin-top: 2rem;
}
	
.img:hover {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
