/*COLORES*/
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");
.header {
  background-image: url(../images/imagenCataratas.jpg); }
  .header h1 {
    padding-left: 2rem;
    padding-bottom: 3rem;
    font-family: 'The Nautigal', cursive;
    font-size: 4rem;
    color: #b7ddf7;
    text-shadow: 3px 4px black; }
  .header .header_menu {
    padding-top: .5rem;
    text-align: center;
    background-color: #033577;
    border: .1rem solid black; }
  .header .menu {
    padding-left: 2rem;
    padding-right: 2rem;
    list-style-type: none;
    display: inline-flex; }
  .header a {
    color: white;
    font-size: 1rem; }

footer {
  color: white;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: .3rem;
  text-align: center;
  background-color: #033577;
  border: .1rem solid black; }
