footer {
    color:white;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: .3rem;
    text-align: center;
    background-color: rgb(3, 53, 119);
    border: .1rem solid black;
}