footer {
    margin-top: 2rem;
    padding-top: 1rem;
    color:$blanco;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    border: .1rem solid $negro;

    div {
    color: white;
    }
    a{
        color:white;
    }
    .nombreCompañia{
        font-style: italic;
        color: rgb(2, 83, 63);
        text-shadow:1px 1px white;
        font-size: 2rem;
    }
}